<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.interaje.easytrade">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/login"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeComCorFundo"></activity>
        <activity
            android:name=".activites.AddProduto"
            android:label="@string/title_activity_add_produto"
            android:parentActivityName=".activites.ListProduto2"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeComActionBar" />
        <activity
            android:name=".activites.DetailProdutoPedido"
            android:parentActivityName=".activites.AddPedido"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddPedido"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListCarrinho"
            android:screenOrientation="portrait"
            android:parentActivityName=".activites.AddPedido"/>
        <activity
            android:name=".utils.InsertProdutos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListCliente"
            android:parentActivityName=".activites.Main2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.Main2Activity" />
        </activity>
        <activity
            android:name=".activites.ChooseCliente"
            android:parentActivityName=".activites.Main2Activity"
            android:label="@string/title_activity_choose_cliente"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.Main2Activity" />
        </activity>
        <activity
            android:name=".activites.AddCliente"
            android:label="@string/title_activity_add_cliente"
            android:parentActivityName=".activites.ListCliente"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeComActionBar" />
        <activity
            android:name=".activites.PreLogin"
            android:theme="@style/AppThemeComCorFundo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.Main2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activites.ListProduto2"
            android:parentActivityName=".activites.Main2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.Main2Activity" />
        </activity>
    </application>

</manifest>
